.button {
  font-weight: $text-half-bold;
  color: $white-main;
  background-color: $blue-main;

  border: none;

  &--white {
    color: $black;
    background-color: $white-main;
  }

  @include basic-interactions;
}
