.button {
  display: inline-flex;
  align-items: center;

  font-weight: $text-half-bold;
  color: $white-main;
  background-color: $blue-main;

  border: none;
  border-radius: 4px;

  &--white {
    color: $black;
    background-color: $white-main;
  }

  @include basic-interactions;
}
