.contact-address__logo {
  margin-bottom: 20px;
}

.contact-address__info {
  font-size: 12px;
  line-height: 17px;
  color: $gray;
}

.contact-address__address {
  margin: 0;
  padding: 0;

  font-style: normal;
}

.contact-address__copyright {
  margin: 0;
  padding: 0;
}
