.convert-form__rows-wrapper {
  display: flex;
  flex-direction: row;

  margin-bottom: 85px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.convert-form__currency-and-type-wrapper {
  display: flex;
  flex-direction: row;
}

.convert-form__label {
  display: block;
  margin-bottom: 30px;

  font-size: 22px;
  line-height: 31px;
  font-weight: $text-half-bold;
  color: $black;
}

.convert-form__number-input {
  font-size: 24px;
  line-height: 34px;
  font-weight: $text-half-bold;
}

.convert-form__currency-type {
  font-size: 30px;
  line-height: 42px;
}

.convert-form__change-currency {
  align-self: flex-end; // TODO: It is temporary

  width: 50px;
  height: 32px;

  @include basic-interactions;
}

.convert-form__currency-by-date {
  font-size: 24px;
  line-height: 34px;
}

.convert-form__calendar-icon {
  width: 39px;
  height: 42px;

  @include basic-interactions;
}

.convert-form__save {
  font-size: 18px;
  line-height: 25px;
}
