.convert-history {
  padding: 40px 70px;

  background-color: $white-main;
}

.convert-history__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 28px;
  line-height: 39px;
  font-weight: $text-half-bold;
}

.convert-history__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style-type: none;
}

.convert-history__item {
  display: flex;
  flex-direction: row;

  font-size: 18px;
  line-height: 23px;
}

.convert-history__clear {
  font-size: 16px;
  line-height: 19px;
}
