.convert-history {
  background-color: $white-main;
}

.convert-history__title {
  font-size: 28px;
  line-height: 39px;
  font-weight: $text-half-bold;
}

.convert-history__item {
  font-size: 18px;
  line-height: 23px;
}

.convert-history__clear {
  font-size: 16px;
  line-height: 19px;
}
