.convert-form__label {
  font-size: 22px;
  line-height: 31px;
  font-weight: $text-half-bold;
  color: $black;
}

.convert-form__number-input {
  font-size: 24px;
  line-height: 34px;
  font-weight: $text-half-bold;
}

.convert-form__currency-type {
  font-size: 30px;
  line-height: 42px;
}

.convert-form__change-currency {
  width: 50px;
  height: 32px;

  @include basic-interactions;
}

.convert-form__currency-by-date {
  font-size: 24px;
  line-height: 34px;
}

.convert-form__calendar-icon {
  width: 39px;
  height: 42px;

  @include basic-interactions;
}

.convert-form__save {
  font-size: 18px;
  line-height: 25px;
}
