.footer {
  @include centered-layout;

  background-color: $white-main;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 98px;
  margin-right: 98px;
  padding-top: 54px;
  padding-bottom: 49px;
}

.footer__contact-address {
  width: 260px;
  margin-right: 73px;
}

.footer__site-navigation {
  width: 160px;
  margin-right: 64px;
}

.footer__phone-contacts {
  position: relative;

  &--mobile {
    width: 205px;
    margin-right: 71px;
    padding-top: 3px;
    padding-left: 29px;
  }

  &--base {
    width: 160px;
    margin-right: 75px;
    padding-top: 2px;
    padding-left: 33px;
  }
}

.footer__mobile-phone-icon {
  position: absolute;
  top: 5px;
  left: 0;

  width: 10px;
  height: 16px;
}

.footer__base-phone-icon {
  position: absolute;
  top: 5px;
  left: 0;

  width: 16px;
  height: 16px;
}

.footer__socials  {
  margin-right: 0;
}

.footer__phone {
  display: inline-flex;
  margin-bottom: 1px;

  font-size: 16px;
  line-height: 22px;
  font-weight: $text-half-bold;
  color: $black;

  @include basic-interactions;
}

.footer__phone-description {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 17px;
  color: $gray;
}
