.login {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 22px;
  padding-left: 30px;

  font-size: 16px;
  line-height: 18.75px;
  color: $black;

  @include basic-interactions;
}

.login__icon {
  position: absolute;
  top: -1px;
  left: 0;

  width: 20px;
  height: 22px;
}
