.logo {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 25px;
  padding-left: 34px;

  font-size: 20px;
  font-weight: 700;
  color: $black;

  @include basic-interactions;
}

.logo__image {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 25px;
}
