.logo {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 25px;
  padding-left: 37px;

  /* Work Sans не работает для кириллики */
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: $black;

  @include basic-interactions;
}

.logo__image {
  position: absolute;
  top: -7px;
  left: -1px;
  width: 28px;
  height: 26px;
}
