.main-navigation {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  min-height: 91px;
}

.main-navigation__logo {
  margin-right: 65px;
}

.main-navigation__list {
  margin-right: auto;
}
