.page-content {
  @include centered-layout;
}

.page-content__wrapper {
  margin: 0 98px;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 110px;
}

.page-content__currency-convert {
  margin-bottom: 100px;
}

.page-content__title {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;

  font-size: 41px;
  line-height: 57px;
}
