.site-navigation {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18.75px;

  list-style-type: none;

  &--vertical {
    flex-direction: column;
    font-weight: $text-half-bold;
    line-height: 22.4px;
  }
}

.site-navigation__item {
  margin: 0;
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }
}

.site-navigation--vertical .site-navigation__item {
  margin-right: 0;
}

.site-navigation__link {
  color: $black;

  @include basic-hover;

  &:active,
  &--active {
    opacity: 1;
    color: $blue-main;
  }
}
