.socials {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 32px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.socials__item {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }
}

.socials__icon {
  &--fb {
    width: 9px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--twitter {
    width: 16px;
    height: 13px;
  }

  &--yt {
    width: 16px;
    height: 13px;
  }

  @include basic-interactions;
}
